@{
    ViewData["Title"] = "User Home User Home User Home";
}
@{
    Layout = "_EmpLayout";
}
<div class="container py-3">
  <header>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">LMS</h1>
           <h1>Logged in as: @Context.Session.GetString("UserName")</h1>
      <p class="fs-5 text-body-secondary">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
    </div>
  </header>

  <body style="background-color: #efb3b3;">

  <main  >
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col" style="margin-left: 200px;">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">What you can do?</h4>
          </div>
          <div class="card-body" >
            <ul class="list-unstyled mt-3 mb-4">
              <li><img src="https://cdn-icons-png.flaticon.com/128/2338/2338406.png" height="25"> Apply for leave</li>
              <li><img src="https://cdn-icons-png.flaticon.com/128/2338/2338406.png" height="25">Check the status of your leave request</li>
              <li><img src="https://cdn-icons-png.flaticon.com/128/2338/2338406.png" height="25">View details of leaves that you have taken so far</li>
              <li><img src="https://cdn-icons-png.flaticon.com/128/2338/2338406.png" height="25">Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Apply for Leave</button>
          </div>
        </div>
      </div>
 
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">What Manager can do?</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                @* <li><img src="https://cdn-icons-png.flaticon.com/128/2338/2338406.png" height="25"> Apply for leave</li> *@
              <li><img src="https://cdn-icons-png.flaticon.com/128/2338/2338406.png" height="25">Check the status of your leave request</li>
              <li><img src="https://cdn-icons-png.flaticon.com/128/2338/2338406.png" height="25">View details of leaves that you have taken so far</li>
              <li><img src="https://cdn-icons-png.flaticon.com/128/2338/2338406.png" height="25">Help center access</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </main>
  </body>
</div>
