@{
    ViewData["Title"] = "Fruity Fresh Privacy Policy";
}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leave Management System Privacy Policy</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 20px;
      padding: 20px;
      background-color: #f5f5f5;
    }

    h1 {
      color: #333;
    }

    h2 {
      color: #555;
    }

    p {
      color: #777;
    }

    section {
      margin-bottom: 20px;
    }
  </style>
</head>

<body style="background-color: #efb3b3;">

  <h1>Privacy Policy</h1>

  <section>
    <h2>1. Introduction</h2>
    <p>LMS (referred to as "we", "us", or "our") operates the Online Leave Management System (the "Service"). This Privacy Policy informs you of our policies regarding the collection, use, and disclosure of personal information when you use our Service.</p>
  </section>

  <section>
    <h2>2. Information Collection and Use</h2>
    <p>We collect and use your personal information for the purpose of managing leave requests and related activities. The types of personal information we may collect include:</p>
    <ul>
      <li>Contact information (e.g., name, email address, phone number)</li>
      <li>Employee identification details</li>
      <li>Leave history and preferences</li>
    </ul>
  </section>

  <section>
    <h2>3. Data Security</h2>
    <p>We prioritize the security of your personal information and employ reasonable measures to protect it from unauthorized access or disclosure.</p>
  </section>

  <section>
    <h2>4. Third-Party Services</h2>
    <p>We may employ third-party companies or individuals to facilitate our Service or provide additional services. These third parties have access to your personal information only to perform tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
  </section>

  <section>
    <h2>5. Changes to This Privacy Policy</h2>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
  </section>

  <section>
    <h2>6. Contact Us</h2>
    <p>If you have any questions or concerns about this Privacy Policy, please contact us at <a href="mailto:info@lms.com">info@lms.com</a>.</p>
  </section>

</body>

</html>